
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* display: flex; 8*/
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form {
    flex-direction: column;
    text-align: center;
    display: flex;
  }

  .form{
    background-color: white;
    border-radius: 10px;
    /* border: 2px solid lightgrey; */
    outline: none;
    color: #1d2129;
    margin: 2% 35%;
    width: 30%;
    padding: 20px;
    font-size: 16px;
  }
  
  label {
    margin-bottom: 10px;
    /* color: grey; */
  }
  
  
  
  #btn {
    background-color: #421c86;
    border: none;
    cursor: pointer;

    color: White;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 1rem;
    width: 60%;
    transition: 0.3s;
    border-radius: 5px;
    
  }

  .in {
    width: 80%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px ;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  
  .inputt {
    border-radius: 5px;
    border: 2px ;
    background-color: whitesmoke;
    width: 80%;
    height: 100px;
    padding: 15px;
  }

